<!DOCTYPE html>
<head>
    {% load static %}
    <!--Include Libraries-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
</head>
<body class="questionnaire-body" style="height:100vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="parent-block" data-id-list="{{script_id_list}}">
                {% for s in scripts %}
                    <div class="col-sm-12 form-div">
                        <form class="form-entry">
                            <h1 class="h3 mb-3 font-weight-normal">Game of Life - {{s.script_title}}</h1>
                            <div class="col-sm-12 questions">
                                <label class="question-guide">
                                    In order to start debugging the code please click the Start button below. Onclicking the Start button, the debugging timer will start. Once you have completed your debugging please click on the stop button to stop the timer. This study is proctored so please reach out to the administrator for guidance. <br/>
                                    Before starting your debug session please familiarize yourself with the online IDE linked <a href="{{s.download_link}}" target="_blank">here</a>. You can run your code and test cases on that link. For further instructions on test cases to satisfy please follow this <a href="{{s.readme_link}}" target="_blank">documentation</a><br/>
                                </label>
                                <div class="row">
                                    <div class="col-sm-2">
                                        {% if s.responded == "yes" %}
                                            <button class="btn btn-lg btn-outline-primary btn-block start-stop" data-state="done" data-id="{{s.script_id}}" id="start-stop-{{s.script_id}}" disabled>
                                            Stop
                                            </button>
                                        {% elif s.responded == "progress" %}
                                            <button class="btn btn-lg btn-outline-primary btn-block start-stop" data-state="stop" data-id="{{s.script_id}}" id="start-stop-{{s.script_id}}">
                                            Stop
                                            </button>
                                        {% else %}
                                            {% if in_progres %}
                                                <button class="btn btn-lg btn-outline-primary btn-block start-stop" data-state="start" data-id="{{s.script_id}}" id="start-stop-{{s.script_id}}" disabled>
                                                Start
                                                </button>
                                            {% else %}
                                                <button class="btn btn-lg btn-outline-primary btn-block start-stop" data-state="start" data-id="{{s.script_id}}" id="start-stop-{{s.script_id}}">
                                                Start
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-10">
                                        {% if s.responded == "yes" %}
                                            <div class="alert alert-danger fade show" role="alert" id="alert-{{s.script_id}}">
                                                <value class="alert-text">The debug session has stopped</value>
                                            </div>
                                        {% elif s.responded == "progress" %}
                                            <div class="alert alert-danger fade show" role="alert" id="alert-{{s.script_id}}">
                                                <value class="alert-text">The debug session has started</value>
                                            </div>
                                        {% else %}
                                            <div class="alert alert-danger fade" role="alert" id="alert-{{s.script_id}}">
                                                <div class="spinner-border" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <value class="alert-text"></value>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {% if s.responded == "progress" %}
                                        <div class="col-sm-12">
                                            <textarea class="form-control script-box" id="script-box-{{s.script_id}}" disabled style="display:block">{{s.raw_url}}</textarea>
                                        </div>
                                    {% else %}
                                        <div class="col-sm-12">
                                            <textarea class="form-control script-box" id="script-box-{{s.script_id}}" disabled style="
                                            display: none;">{{s.raw_url}}</textarea>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                </div>    
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>